$body-bg:#0f0e14;
$content-bg:#24232b;
$dark-green:#6b9c74;
$light-green:#a4ffaf;
$input-color:#18171f;
$weekBox-color:red;
$mediumBox-color:#c2a155;
$strongBox-color:rgb(69, 98, 69);
$lightText:#42404c;
$tablette:500px;
$desktop:900px;
