@import './partials/variables';
@import './partials/mixins';
@import './partials/reset';
@import './partials/typography';
@import './partials/header';

body{
    background-color: $body-bg;
    padding: 3rem;
}

.container{
    // border: 2px solid white;
    margin:  3rem;
    max-width: 50rem;
    height: 80vh;
    @include tablette{
        margin-inline:auto;
    }
}


// MAIN

.main{
    padding: 2rem 3rem;
    margin-top: 3rem;
    background-color: $content-bg;
    &__header{
        @include flex(space-between,center);
        flex-wrap: wrap;
        
        p{
            color:$whiteText;
        }
        #slider{
            margin: 2rem auto ;      
            width: 100%; 
            outline: none;
            display: inline-block;
            cursor: pointer;
        
      }
      #Slidevariable{
        color: $light-green;
        font-size: 3rem;
        font-weight: bold;
      }
    }
    // /main body

    &__body{
        color: $whiteText;
        margin-top: 2rem;
    }

    &__choices{
        li{
            margin-bottom: 1rem;
        }
        span{
            height: 20px;
            transform: translateY(3px);
             cursor: pointer;
            width:20px;
            border: 2px solid white;
            margin-inline: 1rem;
            display: inline-block;
            transition: background 0.3s;
            &:hover{
                background-color: $light-green;
            }
        }
    }

    // main footer
    &__footer{
        @include flex(space-between,center);
        background-color: #18171f;
        padding: 1.5rem;
        margin-top: 2rem;
        h2{
            color: $lightText;
             font-weight: 300;
            font-size: 2rem;
        }
       ul{
        display: flex;
       }
        ul li{
            height: 30px;
            border: 2px solid white;
            width: 10px;
            margin: 3px;
        }
    }
    &__BtnBox{
        margin-top: 2rem;
    //    margin: 1rem;
       button{
        width: 100%;
        padding: 1rem;
        border-radius: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: $light-green;
        background-color: $body-bg;
        cursor: pointer;
        border: 2px solid $light-green;
        &:hover{
            border-color: rgb(222, 97, 97);
            box-shadow: 0 0 10px 1px $light-green;
        }
       }
    }
}




.colorizeChoiceBox{
    background-color: $light-green !important;
    position: relative;
    &::after{
        content:'x';
        color: black;
        height: 5px;
        width: 5px;
        position: absolute;
        left: 3px;
        top: -3px;
    }
}

.message{
 font-size: 1.7rem;
transform: translateX(1rem);
color: white;
// display: block !important;
}

.message--red{
    color: red !important;
}

.message--white{
    color: white !important;
}


.pass-tooweek{
    background-color:rgba(255, 0, 0, 0.72) ;
}
.pass-week{
    background-color:rgb(248, 102, 102)   ;
}
.pass-medium{
    background-color: rgb(243, 172, 42) ;
}

.pass-strong{
    background-color: $light-green;
}