@import './partials/variables';
@import './partials/mixins';
@import './partials/reset';
@import './partials/typography';
@import './partials/header';

body{
    background-color: $body-bg;
    padding: 3rem;
}

.container{
    border: 2px solid white;
    margin:  3rem;
    max-width: 50rem;
    height: 80vh;
    @include tablette{
        margin-inline:auto;
    }
}


// MAIN

.main{
    &__header{
        background-color: $content-bg;
        @include flex(space-between,center);
        flex-wrap: wrap;
        padding: 2rem 3rem;
        
        p{
            color:$whiteText;
        }
        #slider{
            margin: 2rem auto ;      
            width: 100%; 
            outline: none;
            display: inline-block;
            cursor: pointer;
        
      }
      #Slidevariable{
        color: $light-green;
        font-size: 3rem;
        font-weight: bold;
      }
    }
}


