@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600;700&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: #e7e6eb;
  border-radius: 6px;
  height: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  background: #ffffff;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: #0f0e14;
  border: 1px solid white;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.6rem;
  letter-spacing: 0.4px;
  font-weight: 500;
}

.header__title {
  color: #42404c;
  text-align: center;
  margin-bottom: 2rem;
}

.header__passwordBox {
  background-color: #24232b;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__passwordBox #password {
  border: 0;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  color: #42404c;
}

.header__copiIcon {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__copiIcon:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

body {
  background-color: #0f0e14;
  padding: 3rem;
}

.container {
  margin: 3rem;
  max-width: 50rem;
  height: 80vh;
}

@media screen and (min-width: 500px) {
  .container {
    margin-inline: auto;
  }
}

.main {
  padding: 2rem 3rem;
  margin-top: 3rem;
  background-color: #24232b;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__header p {
  color: #e7e6eb;
}

.main__header #slider {
  margin: 2rem auto;
  width: 100%;
  outline: none;
  display: inline-block;
  cursor: pointer;
}

.main__header #Slidevariable {
  color: #a4ffaf;
  font-size: 3rem;
  font-weight: bold;
}

.main__body {
  color: #e7e6eb;
  margin-top: 2rem;
}

.main__choices li {
  margin-bottom: 1rem;
}

.main__choices span {
  height: 20px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  cursor: pointer;
  width: 20px;
  border: 2px solid white;
  margin-inline: 1rem;
  display: inline-block;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.main__choices span:hover {
  background-color: #a4ffaf;
}

.main__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #18171f;
  padding: 1.5rem;
  margin-top: 2rem;
}

.main__footer h2 {
  color: #42404c;
  font-weight: 300;
  font-size: 2rem;
}

.main__footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__footer ul li {
  height: 30px;
  border: 2px solid white;
  width: 10px;
  margin: 3px;
}

.main__BtnBox {
  margin-top: 2rem;
}

.main__BtnBox button {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #a4ffaf;
  background-color: #0f0e14;
  cursor: pointer;
  border: 2px solid #a4ffaf;
}

.main__BtnBox button:hover {
  border-color: #de6161;
  -webkit-box-shadow: 0 0 10px 1px #a4ffaf;
          box-shadow: 0 0 10px 1px #a4ffaf;
}

.colorizeChoiceBox {
  background-color: #a4ffaf !important;
  position: relative;
}

.colorizeChoiceBox::after {
  content: 'x';
  color: black;
  height: 5px;
  width: 5px;
  position: absolute;
  left: 3px;
  top: -3px;
}

.message {
  font-size: 1.7rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  color: white;
}

.message--red {
  color: red !important;
}

.message--white {
  color: white !important;
}

.pass-tooweek {
  background-color: rgba(255, 0, 0, 0.72);
}

.pass-week {
  background-color: #f86666;
}

.pass-medium {
  background-color: #f3ac2a;
}

.pass-strong {
  background-color: #a4ffaf;
}
/*# sourceMappingURL=main.css.map */