@import './partials/variables';
@import './partials/mixins';
@import './partials/reset';
@import './partials/typography';
@import './partials/header';

body{
    background-color: $body-bg;
    padding: 3rem;
}

.container{
    border: 2px solid white;
    margin:  3rem;
    max-width: 50rem;
    height: 80vh;
    @include tablette{
        margin-inline:auto;
    }
}
